@model IEnumerable<Employee_Stack.Models.Employee>

    <div class="col-6 text-center">
        <a class="nav-link btn btn-primary float-right" asp-controller="Employee" asp-action="Create">Create Nem Employee</a>
    </div>
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">Employee Name</th>
                <th scope="col">Known Languages</th>
                <th scope="col">Editar</th>
            </tr>
        </thead>
        @if (Model.Count() > 0)
        {
            <tbody>
                @foreach (var emp in Model)
                {
                    <tr>
                        <td scope="row">@emp.EmployeeName</td>
                        @if (emp.TeckStack != null)
                        {
                            foreach (var language in emp.TeckStack)
                            {
                                <td scope="row">@language.Languages</td>

                            }
                        }
                        <td scope="row" width="30%"><a asp-controller="Employee" asp-action="edit" asp-route-Id="@emp.Id" class="btn btn-sm btn-primary">Update</a></td>
                        <!--<th scope="row" width="30%"><a asp-controller="Language" asp-action="" asp-route-Id="" class="btn btn-sm btn-danger">Delete</a></th>-->
                    </tr>

                }

            </tbody>

        }
        else
        {
            <tr>
                <th scope="row">No employees</th>
            </tr>
        }

    </table>

